/* global */
body{
    margin: 0;
    background-color: rgb(141, 202, 202);
}
title{
    text-transform: capitalize;
}

label{
    text-transform: capitalize;
}
/* global submit button */
.submit{
    background-image: linear-gradient(90deg, orange, tomato);
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-size: 25px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: auto;
}
/* navigation menu */

header{
    border: 3px solid;
    min-height: 70px;
}
nav{
    float: right;
}
li{
    display: inline;
}
li a{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    text-transform: capitalize;
}
/* daily rent */
.rent{
   
}
#daily-rent{
    display: grid;
    width: 400px;
    margin: auto;
    gap: 20px;
    padding: 10px;
    border: 3px;
    box-shadow: 10px 10px 40px;
    background-color: white;
    border-radius: 10px;
}
#daily-rent input{
    padding: 10px;
}
#daily-rent label{
    margin-bottom: 5px;
}
/* form */
label{
    font-size: 15px;
    font-weight: bold;
    
    
}
input{
    border: 3px none;
    max-width: max-content;
    box-shadow: 2px 2px 10px;
    border-radius: 5px;
}
input[type=text] {
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .75s ease-in-out;
}

input[type=text]:focus {
    width: 250px;
}
input[type=number] {
    width: 100px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .75s ease-in-out;
}

input[type=number]:focus {
    width: 250px;
}